<% provide(:title, 'About') %>

<h1>About BarSlice</h1>

<h2>Booking event space at bars should be easier!</h2>

<p>Most bars can accomodate large groups/parties, but it's often difficult to find exactly <em>what space is available</em> to be booked - e.g. a private room, semi-private space, shared space, etc. - <em>and what is required</em> to make the booking - e.g. is there a minimum number of people or minimum spend?</p>

<h2>Whether planning your next birthday or happy-hour with coworkers, we can help!</h2>

<p>BarSlice lets users see what space at local bars is suitable for their event and lets bars easily update and manage the information that users see - with the ability to tailor requirements and offer specials by day of the week.  We allow users to book space with participating bars directly on the site, reducing the typical back and forth in booking an event.</p><br />

<p>BarSlice is currently focussed on New York City, but hoping to bring our service to additional locations.  If you would like to see BarSlice introduced where you live, let us know! Contact us at <a href="mailto:contact@barslice.com">contact@barslice.com</a></p>