<% if bar_signed_in? %>
  <%= render 'bars/home' %>
<% elsif user_signed_in? %>
  <%= render 'users/home' %>
<% else %>
  <div class="center">
    <h1 class="welcome">Welcome to BarSlice</h1>
    <h2>Booking group space at bars should be easier. 
    BarSlice lets you <br>find the right space for your group and book it online.
    <%= link_to 'Learn more here', about_path %></h2>
  </div>
  <%= render 'searches/new_search' %>
<% end %>