<h1><%= current_bar.name %></h1>

<% if current_bar.rooms.count == 0 %>
	<h2>Please add rooms available to be booked at your bar.</h2>
	<%= link_to "Add rooms", new_room_path, class: "btn btn-large btn-primary" %>
<% else %>
	<div>
		<h2>Your events</h2>

	</div><br />

	<div>
		<h2>Your rooms</h2>
		<div>(list details of each room with edit rooms path for each)</div><br />
		<%= link_to "Add rooms", new_room_path, class: "btn btn-med btn-primary" %>
	</div><br />

	<div>
		<h2>Your specials</h2>

	</div>
<% end %>