<h1><%= current_bar.name %></h1>

<% if current_bar.rooms = [] %>
	<h2>Please add rooms available to be booked at your bar.</h2>
	<%= link_to "Add rooms", new_room_path, class: "btn btn-large btn-primary" %>
<% else %>
	(List of upcomming events)
	(Add/edit rooms button)
<% end %>