<%= object.respolicy.description.gsub(/\n/, '<br/>').html_safe %><br /><br />

<strong>Attachment:</strong>
<% if object.respolicy.policydoc_file_name %>
	<%= link_to object.respolicy.policydoc_file_name, object.respolicy.policydoc.url %>
<% else %>
	<div>No attachment uploaded</div>
<% end %><br /><br />