<ul class="rooms">
	<% if object.specials.empty? %>
		<h3 style="text-align:center;margin-bottom:100px;">No specials currently listed</h3>
	<% else %>
		<% object.specials.each do |special| %>
			<li class="room">
				<div class="title strong"><%= special.name %></div>
				<%= render 'bars/special', special: special %>
			</li>
		<% end %>
	<% end %>
</ul>
<% if bar_signed_in? %>
	<%= link_to "Add special", new_special_path, class: "btn btn-med button" %>
<% end %>