<h1><%= @bar.name %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: @bar %>
</div>
<ul class="nav nav-tabs span9">
	<li class="active"><a href="#tab1" data-toggle="tab">Rooms</a></li>
	<li><a href="#tab2" data-toggle="tab">Reservation policy</a></li>
</ul>
<div class="tab-content span9">
	<div class="tab-pane active" id="tab1">
      <%= render 'bars/room', object: @bar %>
	</div>
	<div class="tab-pane" id="tab2">
		<% if @bar.respolicy %>
			<strong>Description:</strong><br>
	    	<%= render 'bars/respolicy', object: @bar %>
	  	<% else %>
			<p>No reservation policy available</p>
		<% end %>
	</div>
</div>