<h1><%= @bar.name %></h1>

<div class="bar_info_right">
	<%= render 'shared/bar_info', object: @bar %>
</div>

<div>
	<h2>Rooms</h2>
	<%= render 'bars/room', object: @bar %>
</div>

<div>
	<h2>Specials</h2>
</div>

<div>
	<h2>Reservation policy</h2>
	<%= render 'bars/respolicy' %>
</div>