<div class="modal hide" id="claimbarModal-<%= room.id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 style="font-size:16pt;">Is this your bar?</h3>
  </div>
  <div class="modal-body">
    <p style="text-align:left;font-size:12pt;">Click yes to claim your bar and have your identity confirmed via email.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Yes", confirm_bar_bar_path(object.id), class: "btn" %>
    <a href="#" class="btn" data-dismiss="modal">No</a>
  </div>
</div>

<script type="text/javascript">
$("#claimbarModal-<%= room.id %>").on('show resize', function () {
    var modal = $(this);
    modal.css({"left":0}).css({"width":"auto","height":"auto","margin-left": (- modal.outerWidth() / 2), "margin-top": (- modal.outerHeight() / 2), "left":"50%"});})
</script>