<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>This feature is coming soon</h3>
  </div>
  <div class="modal-body">
    <p>You will soon be able to reserve your bar space online with participating bars.  If you would like to submit feedback on this upcoming feature, please let us know through <a href="mailto:feedback@barslice.com">feedback@barslice.com</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>