<a data-toggle="modal" href="#why_auto_cancel" style="font-style:italic;">Why?</a>

<div class="modal hide" id="why_auto_cancel">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Why are requests for the same night automatically cancelled once a reservation is confirmed?</h3>
  </div>
  <div class="modal-body">
    <p>Many people request reservations at multiple bars for a given night before they know which ones will have availability.  Once you confirm a reservation at a particular bar, BarSlice automatically cancels any reservation requests you have with other bars for the same night to save you the trouble of updating them and to minimize 'no show' reservations.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>