<h1>We're sorry</h1>
<h2>Something went wrong.</h2>

<h2>Please go back to the <%= link_to "BarSlice home page", root_path %> and try again.</h2>

<h2>If the problem persists, please <a href="mailto:feedback@barslice.com">report</a> your problem and the query that caused it.</h2>