<h2>Find a bar for your event</h2>

<%= form_for @edit_search do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Search", class: "btn btn-large btn-primary" %>
<% end %>

<h2 style="margin-top:20px;">Results</h2>
<ul class="rooms">
	<%= render @show_search.rooms %>
</ul>