<div class="dfield">
	Start date: <%= f.text_field :start, class: "datepicker", style: "width: 100px" %>
	End date:   <%= f.text_field :end, class: "datepicker", style: "width: 100px" %>
	<%= f.hidden_field :_destroy %>
	<span class='remove'><%= link_to "Remove", '#', class: "remove_fields" %></span>
</div>
<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>
