<% provide(:title, 'Add room') %>

<h1>Add a new room!</h1>
<div>
	<%= form_for( @room, html: { multipart: true } ) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
</div>