<p><%= @bar.name %>,</p>

<p>Thank you for claiming your bar at BarSlice.com.  If you are receiving this message in error, please disregard it.  You can sign in and begin tailoring your account by signing in <%= link_to "here", claim_bar_bar_url(@bar), target: "_blank" %> with the following email address and temporary password.</p>

<p>Email: <%= @bar.email %><br>
Temporary password: <%= @temp_pass %></p>

<p>Be sure to reset your password after signing in (click on 'Edit info' under the 'Account' dropdown menu on the navigation bar).</p>

<p>Cheers,<br>
The BarSlice Team</p>