@import "bootstrap";

/* mixings, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */


html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}


section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1, h2 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin: 10px 0;
	text-align: left;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	}

.strong {
	font-weight: bold;
	}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	padding: 10px;
	font-weight: bold;
	line-height: 1;
	
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#session {
	float: right;
	color: white;
	padding: 10px;
	line-height: 1;
	
	&:hover {
		color: white;
		text-decoration: none;
	}

}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	
	a {
		color: $gray;
		&:hover {
			color:$grayDarker;
		}
	}
	small {
		float: left
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* forms */

.hform {
	margin-bottom: 10px;
	margin-top: 25px;
	font-size: 1.1em;
}

.avail {
	span {
		display:block;
	}
}

#room_mon1, #room_mon1ap, #room_mon2, #room_mon2ap, #room_tues1, #room_tues1ap, #room_tues2, 
#room_tues2ap, #room_wed1, #room_wed1ap, #room_wed2, #room_wed2ap, #room_thurs1, #room_thurs1ap, 
#room_thurs2, #room_thurs2ap, #room_fri1, #room_fri1ap, #room_fri2, #room_fri2ap, #room_sat1, 
#room_sat1ap, #room_sat2, #room_sat2ap, #room_sun1, #room_sun1ap, #room_sun2, #room_sun2ap { 
	width: 50px; 
	height: 20px; 
	font-size: .85em; 
	margin: 5px;
	}


/* room list 

.rooms {
	list-style: none;
	li {
		border:none;
		ul {
			border:none;
			li {
				list-style: none;
				float: left;
				border-right: 2px solid $grayLight;
				padding: 0px 5px;
				margin: 5px 0px;
				&:last-child {
					border:none;
				}
			}
		}
	}
}
*/

.rooms {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 2px solid $grayLighter;
		&:last-child {
			margin-bottom: 20px;
		}
		div {
			margin: 5px 0;
			&:first-child {
				font-size: 1.1em;
			}
		}
	}
}


